<!doctype html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="content-language" content="ru">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Architect</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/~/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/line-icons.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

    <!--preloader starts-->

    <div class="loader_bg"><div class="loader"></div></div>

    <!--preloader ends-->
    <!--nav area starts-->

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand page-scroll" href="@Url.Action("Index")"> Architect<span>.</span></a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="smooth-menu" href="#home">Главная</a></li>
                    <li><a class="smooth-menu" href="#about">О нас</a></li>
                    <li><a class="smooth-menu" href="#services">Сервисы</a></li>
                    <li><a class="smooth-menu" href="#portfolio">Портфолио</a></li>
                    <li><a class="smooth-menu" href="#testimonial">Отзывы</a></li>
                    <li><a class="smooth-menu" href="#contact">Связаться с нами</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--nav area ends-->
    <!--banner area starts-->

    <div id="home" class="banner-area section-padding">
        <div class="bg-overlay black"></div>
        <div class="containter">
            <div class="row">
                <div class="col-md-12">
                    <div class="welcome-text">
                        <div class="name-area wow fadeInDown" data-wow-delay="0.2s">Привет, мы команда Architect</div>
                        <h1 class="wow fadeInDown" data-wow-delay="0.4s">Мы строим здания для <span>Вас</span> под заказ</h1>
                        <a href="#about" class="my-btn-1 wow fadeInDown" data-wow-delay="0.6s">Узнать больше</a>
                        <a href="#contact" class="my-btn-2 wow fadeInDown" data-wow-delay="0.8s">Связаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--banner area ends-->
    <!--about area starts-->

    <div id="about" class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sn-8 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-left">
                        <h2 class="section-title">Немного о нас</h2>
                        <div class="line"></div>
                        <h4>Мы команда, которая находимся на СНГ рынке в течении 10 лет. За эти годы мы разработали более 150 проектов и отстроили по этим планам более 500 домов</h4>
                        <p>Наши архитекторы разрабатывают любого уровня проекты за минимальные сроки. Благодаря специальному оборудованию и техническому прогрессу мы готовы браться за любые архитектурные решения. Сотни положительных отзывов от клиентов и деловых партнеров. Гарантия качества на 50 лет. Чертежи и планы предоставляем в кратчайшие сроки.</p>
                        <a href="~/images/about/plan.jpg" download>Скачать пример&nbsp;<i class="fa fa-download"></i></a>
                    </div>
                </div>
                <div class="col-md-5 visible-md visible-lg wow fadeInDown" data-wow-delay="0.6s">
                    <div class="profile"> <img src="~/images/about/about-img.png" alt="profile img" class="img-responsive" id="img-profile"></div>
                </div>
            </div>

        </div>


    </div>

    <!--about area ends-->
    <!--services area starts-->

    <div id="services" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Что мы предлагаем</h2>
                    </div>
                </div>
            </div>
            <!--  row end -->
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.2s">
                        <i class="icon icon-wallet"></i>
                        <h2>Адекватные цены</h2>
                        <p>По статистическому анализу наши цены ниже чем у наших конкурентов. Мы придерживаемся низкой ценовой политики.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.4s">
                        <i class="icon icon-picture"></i>
                        <h2>Простота разработки</h2>
                        <p>Мы предоставляем наши услуги для обычных людей. Этим и обуславливается простота и понятность проекта для конечного жителя.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.6s">
                        <i class="icon icon-laptop"></i>
                        <h2>Новейшее оборудование</h2>
                        <p>Создание решений производится на новейшем оборудовании. Таких альтернатив пока не существует на нашем рынке.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-0">
                    <div class="single-service wow fadeInDown" data-wow-delay="0.8s">
                        <i class="icon icon-calendar"></i>
                        <h2>Разработка в сроки</h2>
                        <p>Вы даете нам любые сроки, а мы берем на себя выполнение и гарантии. В случае опоздания выдаем скидки. Мы гарантируем скорость и качество.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single-service wow fadeInDown" data-wow-delay="1s">
                        <i class="icon icon-flag"></i>
                        <h2>Онлайн-проверка</h2>
                        <p>Мы предоставляем демо-чертежи в режиме разработки проекта, что позволяет Вам проверять и следить за нашей работой.</p>
                    </div>
                </div>
            </div>
            <!--  row end -->
        </div>
        <!--  container end -->
    </div>

    <!--services area ends-->
    <!--Portfolio Area Starts-->

    <div id="portfolio" class="portfolio-area section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Наши работы</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="~/images/portfolio/1.jpg">

                            <img src="~/images/portfolio/small/1.jpg" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Проект "Сокол"</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="~/images/portfolio/2.jpg">
                            <img src="~/images/portfolio/small/2.jpg" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Проект "Рассвет"</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="~/images/portfolio/3.jpg">

                            <img src="~/images/portfolio/small/3.jpg" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Проект "Радуга"</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="~/images/portfolio/4.jpg">
                            <img src="~/images/portfolio/small/4.jpg" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Проект "Лагуна"</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="~/images/portfolio/5.jpg">

                            <img src="~/images/portfolio/small/5.jpg" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Проект "Гармония"</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 no-padding">
                    <div class="gallery-items">
                        <a class="view img" href="~/images/portfolio/6.jpg">

                            <img src="~/images/portfolio/small/6.jpg" alt="portfolio image">
                        </a>

                        <div class="gallery-text">
                            <h2>Проект "Мелодия"</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Portfolio Area Ends-->
    <!--Testimonial Area Starts-->

    <section id="testimonial" class="testimonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Отзывы</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="carousel slide" id="testimonial-carousel">
                        <div class="carousel-inner">
                            <div class="item ">
                                <div class="client-img">
                                    <img src="~/images/testimonial/1.jpg" alt="testimonial image">
                                </div>
                                <h5> - <strong>Николай Васильев</strong></h5>
                                <p>Мой выбор работать с командой 'Architect' был одним из лучших решений в моей жизни. Однозначная пятерка за их старания и скорость.</p>

                            </div>
                            <div class="item active">
                                <div class="client-img">
                                    <img src="~/images/testimonial/2.jpg" alt="testimonial image">
                                </div>
                                <h5> - <strong>Екатерина Осипнеко</strong></h5>
                                <p>Мы с мужем давно хотели выбраться за город и построить домик как в американских фильмах. Благодаря компании 'Architect' наша мечта осуществилась. Спасибо!</p>

                            </div>
                            <div class="item">
                                <div class="client-img">
                                    <img src="~/images/testimonial/3.jpg" alt="testimonial image">
                                </div>
                                <h5> - <strong>Юлия Князева</strong></h5>
                                <p>В течении нескольких лет искала добропорядочных застройщиков  и наконец нашла. Построили дом в кратчайшие сроки для моей семьи. Качество на высоте, выше всяких похвал.</p>

                            </div>
                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#testimonial-carousel" data-slide-to="0"></li>
                            <li data-target="#testimonial-carousel" data-slide-to="1" class="active"></li>
                            <li data-target="#testimonial-carousel" data-slide-to="2"> </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Testimonial Area Ends-->
    <!--invitation area starts-->

    <div class="invitation-area section-padding">
        <div class="container">
            <div class="row">
                <div class="single-invite text-center">
                    <h2>У вас есть проект который вы бы хотели сделать?</h2>
                    <p>Мы готовы начать прямо сейчас. Просто расскажите чего Вы бы хотели от жилья и мы сделаем эскиз в течении нескольких часов.</p>
                    <a href="#contact" class="my-btn-3">Начать сейчас</a>
                </div>
            </div>
        </div>
    </div>

    <!--invitation area ends-->
    <!--Contact Area Starts-->

    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center">
                        <h2>Напишите нам</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 box-contact-form">
                    <div class="messages"></div>

                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group wow fadeInDown" data-wow-delay="0.2s">
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Введите ваше имя *" required="required" data-error="Вам нужно ввести ваше имя">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group wow fadeInDown" data-wow-delay="0.4s">
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Введите вашу почту *" required="required" data-error="Вам нужно ввести вашу почту">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group wow fadeInUp" data-wow-delay="0.6s">
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Введите ваше собщение *" rows="4" required="required" data-error="Оставьте, пожалуйста, сообщение"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <span id="sendMessage" class="btn btn-send">Отправить</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!--Contact Area Ends-->
    <!--Footer Area Starts-->

    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p>&copy;Все права защищены @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </div>

    <!--Footer Area Ends-->
    <!--Latest version JQuery-->
    <script src="~/js/jquery.min.js"></script>

    <!--Bootstrap js-->
    <script src="~/js/bootstrap.min.js"></script>

    <!--easing js-->
    <script src="~/js/jquery.easing.min.js"></script>

    <!--mixitup js-->
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!--Owl Carousel js-->
    <script src="~/js/owl.carousel.js"></script>

    <!--Validator js-->
    <script src="~/js/validator.js"></script>


    <!--Bootstrap js-->
    <script src="~/js/wow.min.js"></script>

    <!--Sweetalert js-->
    <script src="~/js/sweetalert.min.js"></script>

    <!--Theme js-->
    <script src="~/js/main.js"></script>

    <script charset="utf-8">
        $(document).ready(function () {
            $('#sendMessage').click(function () {

                var name = $('#form_name').val();
                var email = $('#form_email').val();
                var message = $('#form_message').val();

                if (!name.trim()) {
                    swal("Ошибка!", "Пожалуйста, введите ваше имя", "warning");
                    return;
                }
                if (!email.trim()) {
                    swal("Ошибка!", "Пожалуйста, введите вашу почту", "warning");
                    return;
                }
                if (!message.trim()) {
                    swal("Ошибка!", "Пожалуйста, оставьте сообщение", "warning");
                    return;
                }

                $.ajax({
                    method: 'GET',
                    url: '/Home/Contact',
                    data: 'name=' + name + '&email=' + email + '&message=' + message
                }).done(function (data) {
                    if (data.success) {
                        swal("Отправлено", "Спасибо, " + name + ". Мы свяжемся с вами!", "success");
                    }
                    else {
                        swal("Ошибка!", data.message, "error");
                    }
                });
            });
        });
    </script>
</body>
</html>